.__json-pretty__ {
  line-height: 1.3;
  color: #748096;

  overflow: auto;
}
* {
  font-size: 16px;
}
.__json-pretty__ .__json-key__ {
  color: #4295d4;
}
.__json-pretty__ .__json-value__ {
  color: #6db145;
}
.__json-pretty__ .__json-string__ {
  color: #c4653c;
}
.__json-pretty__ .__json-boolean__ {
  color: #2b6abb;
}
.__json-pretty-error__ {
  line-height: 1.3;
  color: #c25858;

  overflow: auto;
}
